<!-- wp:template-part {"slug":"header","theme":"wd_f","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}}} -->
<main
	class="wp-block-group"
	style="
		margin-top: 0;
		padding-top: var( --wp--preset--spacing--70 );
		padding-bottom: var( --wp--preset--spacing--70 );
	"
>
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"level":1} /--></div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wd_f","tagName":"footer","className":"site-footer"} /-->
